@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.card {
  width: 349px;
  height: 234px;
  padding: 40px 30px;
  background-color: hsl(300deg, 43%, 22%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5rem;
  border-radius: 10px;
}
@media only screen and (max-width: 481px) {
  .card {
    width: 326px;
    height: 246px;
    padding: 38px 31px;
  }
}
.card .card-header {
  width: 286px;
  height: 43px;
  display: flex;
}
.card .card-header .card-img {
  width: 42px;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.card .card-header .card-name {
  width: 244px;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1rem;
  align-self: center;
}
.card .card-header .card-name p:first-child {
  color: hsl(300deg, 24%, 96%);
  font-weight: 700;
}
.card .card-header .card-name p:last-child {
  color: pink;
  font-weight: 400;
}
@media only screen and (max-width: 481px) {
  .card .card-header .card-name {
    width: 224px;
  }
}
.card .card-content {
  color: hsl(300deg, 24%, 96%);
  font-weight: 500;
  line-height: 1.3rem;
}

.star-bar {
  width: 446px;
  height: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: hsl(300deg, 24%, 96%);
  color: hsl(300deg, 43%, 22%);
  font-weight: 700;
}
@media only screen and (max-width: 481px) {
  .star-bar {
    flex-direction: column;
    width: 326px;
    height: 78px;
  }
}
.star-bar .star {
  width: 42%;
  text-align: center;
}
@media only screen and (max-width: 481px) {
  .star-bar .star {
    width: 100%;
  }
}
.star-bar .star-title {
  width: 58%;
  text-align: left;
}
@media only screen and (max-width: 481px) {
  .star-bar .star-title {
    width: 100%;
    text-align: center;
  }
}

body {
  background-color: hsl(0deg, 0%, 100%);
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  color: hsl(300deg, 43%, 22%);
  line-height: 2rem;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1110px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 481px) {
  .container {
    width: 100vw;
    height: 100vh;
    justify-content: center;
  }
}

.header {
  width: 409px;
  height: 246px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 481px) {
  .header {
    width: 326px;
    height: auto;
    text-align: center;
    margin-bottom: 45px;
    margin-top: 80px;
    gap: 22px;
  }
}
.header h1 {
  color: hsl(300deg, 43%, 22%);
  font-size: 50px;
  font-weight: 900;
  line-height: 3rem;
}
@media only screen and (max-width: 481px) {
  .header h1 {
    font-size: 45px;
    line-height: 2.5rem;
  }
}
.header p {
  color: hsl(303deg, 10%, 53%);
  font-size: 17px;
  line-height: 1.5rem;
  font-weight: 500;
}

.stars {
  width: 50%;
  height: 201px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  justify-self: end;
}
@media only screen and (max-width: 481px) {
  .stars {
    width: 100%;
    margin-bottom: 48px;
    height: auto;
    align-items: center;
  }
}
.stars .star-bar:first-child {
  align-self: flex-start;
}
@media only screen and (max-width: 481px) {
  .stars .star-bar:first-child {
    align-self: center;
  }
}
.stars .star-bar:nth-child(2) {
  align-self: center;
}
@media only screen and (max-width: 481px) {
  .stars .star-bar:nth-child(2) {
    align-self: center;
  }
}
.stars .star-bar:last-child {
  align-self: flex-end;
}
@media only screen and (max-width: 481px) {
  .stars .star-bar:last-child {
    align-self: center;
  }
}

.review {
  width: 100%;
  height: 265px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.review div:first-child {
  align-self: flex-start;
}
.review div:nth-child(2) {
  align-self: center;
}
.review div:last-child {
  align-self: flex-end;
}
@media only screen and (max-width: 481px) {
  .review {
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 17px;
  }
  .review div:first-child {
    align-self: center;
  }
  .review div:last-child {
    align-self: center;
  }
}

/*# sourceMappingURL=styles.css.map */
