@use "./../abstracts/mixins" as *;
@use "./../variables" as *;

body {
  background-color: $white;
  font-family: $ffamily;
  font-size: $fpSize;
  color: $mgnta;
  line-height: 2rem;
  width: 100vw;
  height: 100vh;


}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1110px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  // border: 1px black solid;

  @include devices(mobile) {
    width: 100vw;
    height: 100vh;
    justify-content: center;
  }

}

.header {
  width: 409px;
  height: 246px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // border: 1px black solid;
  @include devices(mobile) {
    width: 326px;

    height: auto;
    text-align: center;
    margin-bottom: 45px;
    margin-top: 80px;
    gap: 22px;
  }


  h1 {
    color: $mgnta;
    font-size: 50px;
    font-weight: 900;
    line-height: 3rem;

    @include devices(mobile) {
      font-size: 45px;
      line-height: 2.5rem;
    }
  }

  p {
    color: $graym;
    font-size: 17px;
    line-height: 1.5rem;
    font-weight: 500;
  }
}

.stars {
  width: 50%;
  height: 201px;
  // border: 1px black solid;
  display: flex;
  flex-direction: column;
  gap: 17px;
  justify-self: end;

  @include devices(mobile) {
    width: 100%;
    margin-bottom: 48px;
    height: auto;
    align-items: center;

    // .star-bar:first-child {
    //   align-self: center;
    // }

    // .star-bar:nth-child(2) {
    //   align-self: center;
    // }

    // .star-bar:last-child {
    //   align-self: center;
    // }
  }

  .star-bar:first-child {
    align-self: flex-start;

    @include devices(mobile) {
      align-self: center;
    }
  }

  .star-bar:nth-child(2) {
    align-self: center;

    @include devices(mobile) {
      align-self: center;
    }
  }

  .star-bar:last-child {
    align-self: flex-end;

    @include devices(mobile) {
      align-self: center;
    }
  }

}

.review {
  width: 100%;
  height: 265px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  // border: 1px black solid;

  div:first-child {
    align-self: flex-start;
  }

  div:nth-child(2) {
    align-self: center;
  }

  div:last-child {
    align-self: flex-end;
  }

  @include devices(mobile) {
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 17px;

    div:first-child {
      align-self: center;
    }

    div:last-child {
      align-self: center;
    }
  }
}